/* TODO: High contrast option / dark mode */

#calendar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 3px;
    row-gap: 3px;
}

#calendar > *:not(.day-of-week-header) {
    /* TODO: A light lavendar color might look better with the yellow header, idk */
    background-color:lavender
}

padding-day {
    opacity: 0;
}

#calendar[data-start-day="Sunday"] > padding-day {
    display: none;
}
#calendar[data-start-day="Monday"] > padding-day:first-of-type ~ padding-day {
    display: none;
}
#calendar[data-start-day="Tuesday"] > padding-day:nth-of-type(2) ~ padding-day {
    display: none;
}
#calendar[data-start-day="Wednesday"] > padding-day:nth-of-type(3) ~ padding-day {
    display: none;
}
#calendar[data-start-day="Thursday"] > padding-day:nth-of-type(4) ~ padding-day {
    display: none;
}
#calendar[data-start-day="Friday"] > padding-day:nth-of-type(5) ~ padding-day {
    display: none;
}
/* No need for Saturday since all padding cells should be visible */

#calendar[data-days-in-month="28"] > calendar-day:nth-of-type(28) ~ calendar-day {
    display: none;
}
#calendar[data-days-in-month="29"] > calendar-day:nth-of-type(29) ~ calendar-day {
    display: none;
}
#calendar[data-days-in-month="30"] > calendar-day:nth-of-type(30) ~ calendar-day {
    display: none;
}

calendar-day:first-of-type {
    grid-column-start: calc(var(--offset) + 1);
}

.day-of-week-header {
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: lemonchiffon;
}

#calendar > .current-day {
    background-color: khaki;
}